.app-container{
  display: flex;
}

.contain{
  width: 1005;
}

.sidebar{
  min-height : 800px;

}
.post-card{
  margin:20px 50px;
 
  

}
.hastag{
  margin: 0px 3px;
}
.reactions{
  width: 100%;
  margin: 15px 0 0 0;
}
.create-post{
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
}