.about{
    margin-top: 50px;
    padding: 20px;
}

.about p{
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
    padding-top: 10px;
}

@media only screen and (max-width: 600px){
    .about{
        padding: 20px;
        margin-top: 40px;
    }

    .about p{
        font-size: 15px;
    }
}